<!DOCTYPE html>
<html>

<head>
	<title> Highscore - tabell </title>
	<meta charset="utf-8"/>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
 	<link rel="stylesheet" type="text/css" href="styleset.css">
</head>

<body>
<div id="wrapper">

	<div class="header">
		<h1> HIGHSCORE<br /> SENTENCE CRUSHERS </h1>

	</div>


	<div class="menu">
		<div class="menu_items"><a href="index.html"> LEVEL 1 </a></div>
		<div class="menu_items"><a href="Level2.html"> LEVEL 2</a></div>
		<div class="menu_items"><a href="#"> LEVEL 3</a></div>
		<div class="menu_items"><a href="Level4.html"> LEVEL 4</a></div>
	</div>

	<p><i>"You might not think that programmers are artists, <br /> but programming is an extremely creative profession. <br /> It's logic-based creativity."
                      - John Romero</i></p>

     <div class="lista">
     <ol>
		<li> ------- NO DATA ------</li>
		
	   </ol>
	 </div>
</div>
</body>

</html>


<!--session 18:20 