<!DOCTYPE html>
<html>

<head>
	<title> Highscore - tabell </title>
	<meta charset="utf-8"/>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
 	<link rel="stylesheet" type="text/css" href="styleset.css">
</head>

<body>
<div id="wrapper">

	<div class="header">
		<h1> HIGHSCORE<br /> SENTENCE CRUSHERS </h1>

	</div>


	<div class="menu">
		<div class="menu_items"><a href="http://127.0.0.1:5000/"> LEVEL 1 </a></div>
		<div class="menu_items"><a href="http://127.0.0.1:5000/#"> LEVEL 2</a></div>
		<div class="menu_items"><a href="http://127.0.0.1:5000/Level3"> LEVEL 3</a></div>
		<div class="menu_items"><a href="http://127.0.0.1:5000/Level4"> LEVEL 4</a></div>
	</div>

	<p> <i> "Good, better, best. Never let it rest. <br />'Til your good is better
                      and your better is best."</i> </p>

      <div class="lista">
       <ol>
		<li> ------- NO DATA -------</li>
		
	   </ol>

	 </div>
</div>
</body>

</html>


<!--session 18:20 